{% extends 'layout.html' %} 
{% block title %} 
{% endblock %} 
{% block body %} 
{% block head %}
 <!--Section: Design Block-->
 <section>
    <!-- Intro -->
    <div id="intro" class="bg-image vh-100" style="
          background-image: url('https://d.newsweek.com/en/full/1838703/hospital-theme-tecnology.jpg');
        ">
      <div class="mask" style="background-color: rgba(250, 182, 162, 0.15);"></div>
    </div>
    <!-- Intro -->
  </section>
  <!--Section: Design Block-->
{% endblock %}
{% endblock %}